OpenGLCourseApp/.vs/
OpenGLCourseApp/OpenGLCourseApp/Release/OpenGLCourseApp.tlog/CL.command.1.tlog
OpenGLCourseApp/Release/
OpenGLCourseApp/OpenGLCourseApp/Release/
OpenGLCourseApp/OpenGLCourseApp/Debug/vc141.idb
OpenGLCourseApp/OpenGLCourseApp/Debug/
